name: Validate

on: push

jobs:
  validate:
    name: Validate
    runs-on: ubuntu-latest
    strategy:
      matrix:
        package: ["nitebird_light_strip", "opengarage", "uplift_desk"]
    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - name: Setup Python
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        with:
          python-version: '3.x'
          cache: pip
      - name: Install requirements
        run: |
          pip install -r requirements.txt
      - name: Copy common config
        run: |
          rsync -av --ignore-existing common/packages/ ${{ matrix.package }}/packages/
      - name: Template secrets
        run: |
          yq --inplace 'keys | .[] as $val ireduce({}; .[$val] = "test_" + $val)' \
            ${{ matrix.package }}/secrets.yaml common/secrets.yaml
      - name: Test Config
        run: |
          for config in ${{ matrix.package }}/*.yaml; do
            if [[ "$config" != */secrets.yaml ]]; then
              esphome config "$config"
            fi
          done
