name: Validate

on: push

jobs:
  validate:
    name: Validate
    runs-on: ubuntu-latest
    strategy:
      matrix:
        package: ["nitebird_light_strip", "opengarage", "uplift_desk"]
    steps:
      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - name: Setup Python
        uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6.0.0
        with:
          python-version: '3.x'
          cache: pip
      - name: Install requirements
        run: |
          pip install -r requirements.txt
      - name: Copy common config
        run: |
          rsync -av --ignore-existing common/packages/ ${{ matrix.package }}/packages/
      - name: Template secrets
        run: |
          yq --inplace 'keys | .[] as $val ireduce({}; .[$val] = "test_" + $val)' \
            ${{ matrix.package }}/secrets.yaml common/secrets.yaml
      - name: Test Config
        run: |
          for config in ${{ matrix.package }}/*.yaml; do
            if [[ "$config" != */secrets.yaml ]]; then
              esphome config "$config"
            fi
          done
